{% extends 'basic.html' %}

{% load static %}

{% block body %}
	<!-- banner 2 -->
	<div class="banner2-w3ls">

	</div>
	<!-- //banner 2 -->
	<!-- page details -->
	<div class="breadcrumb-agile">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">About Us</li>
			</ol>
		</nav>
	</div>
	<!-- //page details -->

	<!-- about -->
	<div class="about-w3ls-welcome py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">About Us</h3>
			<div class="row w3ls-welcome-grids">
				<div class="col-xl-4 w3l-welcome-left">
					<h4 class="mb-4 title-2-agiles">Welcome</h4>
					 
					<p class="mt-3"> We have seen people who are having good talent are not getting recognition or work. The reason is that they are not having any centralized platform where they can showcase their work. Right now corporate and society both require different artists like Rangoli artists, Mahendi artists, Painter, Choreographer etc.  
						<span></span>
					</p>
				</div>
				<div class="col-xl-4 w3l-welcome-img my-xl-0 my-4 text-center">
					<img src="images/c1.png" alt="" class="img-fluid">
				</div>
				<div class="col-xl-4 w3l-welcome-left">
					<h4 class="mb-4 title-2-agiles">History of us</h4>
					 
					<p class="mt-3">We have created many many designs and have a great group of artist all over.We give	 services of best quality with reasonable rate..!
						 
					</p>
					<div class="w3l-button">
						<a href="single.html" class="btn btn-sm animated-button victoria-two text-dark mt-4">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- middle section -->
	<section class="middle-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 agileits_works-grid">
					<h3 class="tittle mb-xl-5 mb-4 text-white text-uppercase font-weight-bold pl-4 py-3">About Us</h3>
				</div>
				<div class="col-lg-7 para-right-title">
					<p class="py-3 text-white"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
				 
					<h6 class="text-white text-uppercase sec-text border-bottom pb-2 mt-4">Best Services</h6>
					<p class="my-5 white-forming">This project is about getting the nearest artist
					available and their services. It happens we may require artists for the various events like wedding, school function, birthday organizers etc on an urgent basis.We provide all services in reasonable rate.</p>
					<a href="about.html" class="btn btn-sm animated-button victoria-two">Read More</a>
				</div>
				<div class="col-lg-6 mt-sm-0 mt-3">
					<img src="images/i1.jpeg" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</section>
	<!-- //middle section -->

	<!-- services -->
	
	<!-- //services -->

	<!-- progress -->
	<div class="progress-w3ls py-5 text-center">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="progress blue">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">90%</div>

					</div>
					<p class="text-white progress-texts mt-3">Satisfied Customers</p>
				</div>
				<div class="col-md-3 col-sm-6 mt-sm-0 mt-4">
					<div class="progress yellow">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">75%</div>

					</div>
					<p class="text-white progress-texts mt-3">Completer Orders</p>
				</div>
				<div class="col-md-3 col-sm-6 mt-md-0 mt-4">
					<div class="progress green">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">75%</div>

					</div>
					<p class="text-white progress-texts mt-3">Specialist Artist</p>
				</div>
				<div class="col-md-3 col-sm-6 mt-md-0 mt-4">
					<div class="progress pink">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">75%</div>
					</div>
					<p class="text-white progress-texts mt-3">Customer Review</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //progress -->

	<!-- team -->
	<div class="team py-5" id="team">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 agileits_works-grid">
					<h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Our Work</h2>
				</div>
				<div class="col-lg-7 para-right-title">
					<p class="py-3">Some work done by our Artist.</p>
				</div>
			</div>
			<div class="row team-row">
				<div class="col-lg-3 col-6 team-grids">
					<div class="team-img">
						<img class="img-fluid" src="images/t1.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4>Rangoli</h4>
								<p> </p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 team-grids">
					<div class="team-img">
						<img class="img-fluid" src="images/t2.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4>Makeup</h4>
								<p></p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 team-grids mt-lg-0 mt-5">
					<div class="team-img">
						<img class="img-fluid" src="images/t3.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4>Mehendi</h4>
								<p> </p>
							</div>
							 
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 team-grids mt-lg-0 mt-5">
					<div class="team-img">
						<img class="img-fluid" src="images/t4.jpg" alt="">
						<div class="captn">
							<div class="captn-top">
								<h4>Hair Style</h4>
								<p> </p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->
{% endblock %}