{% extends 'base.html' %}
{% load static %}

{% block body %}
	<!-- banner 2 -->
	<div class="banner2-w3ls">
		
	</div>
	<div class="breadcrumb-agile">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">MyBookings</li>
			</ol>
		</nav>
	</div>
	<!-- //page details -->

	<!-- contact -->
	
	<!-- //gallery -->
<section class="news-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 agileits_works-grid">
					<h3 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">MY BOOKINGS</h3>
				</div>
				<div class="col-lg-7 para-right-title">
					<p class="py-3"> 
					</p>
				</div>
			</div>

			<div class="row package-grids mt-5">
				{% for i in booking %}
				<div class="col-md-4 posts-w3ls my-4">
					<div class="card shadow">
						<img src="{{ i.booking_service.a_recentwork.url }}" class="card-img-top" style="height: 40vh;">
							
						
					 	<div class="card-body text-center">
					 		<h5 class="card-title">{{ i.booking_service.a_name }}</h5>
					 		<p><i class="fas fa-rupee-sign mr-2 text-danger">{{i.booking_service.a_price}} /- Per {{i.booking_service.a_service.service}}</i></p>
					    	<p class="card-text">Date of service : {{ i.booking_date_of_service }}</p>
					  	</div>
					  	<div class="card-footer text-center">
					  		<a href="/cancelbooking/{{i.booking_id}}" class="btn btn-danger">Cancel booking</a>
					  	</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
