{% extends 'base.html' %}
{% load static %}
{% block body %}
	<div class="banner2-w3ls">

	</div>

	<div class="breadcrumb-agile">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/services/">Services</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Gallery</li>
				</ol>
			</nav>
		</div>
	{% if user.is_authenticated %}	
	<section class="news-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row package-grids mt-5">
				{% for i in subservice %}
				<div class="col-md-4 posts-w3ls mt-md-0 mt-4">
					<div class="price-top">
						<img src="{{i.a_recentwork.url}}" class="img-fluid" style="height: 40vh;" />
					</div>
					<div class="post-w3ls-bottom p-4 text-center">
						<h4 class="text-dark mb-3 mt-4">{{i.a_name}} </h4>
						<ul class="list-unstyled">
							<li class="mr-2">
								<a href="single.html">
									<i class="fas fa-rupee-sign mr-2"></i>{{i.a_price}} /- Per {{i.a_service.service}}</a>
							</li>
						</ul>
						<br>
						<a href="/checkout/{{i.a_id}}/" class="btn btn-primary text-light">Check Out</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% else %}
	<div class="modal fade" id="notlogin">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            	<div class="modal-header">
                	<h4 class="modal-title">Please Login first :(</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                	<h2 class="text-danger">You are not Logged In..</h2> 
                </div>

            </div>
        </div>
    </div>
	<section class="news-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row package-grids mt-5">
				{% for i in subservice %}
				<div class="col-md-4 posts-w3ls mt-md-0 mt-4">
					<div class="price-top">
						<img src="{{i.a_recentwork.url}}" class="img-fluid" style="height: 40vh;" />
					</div>
					<div class="post-w3ls-bottom p-4 text-center">
						<h4 class="text-dark mb-3 mt-4">{{i.a_name}} </h4>
						<ul class="list-unstyled">
							<li class="mr-2">
								<a href="single.html">
									<i class="fas fa-rupee-sign mr-2"></i>{{i.a_price}} /- Per {{i.a_service.service}}</a>
							</li>
						</ul>
						<br>
						<button data-toggle="modal" data-target="#notlogin" type="submit"  class="btn btn-danger">
                    	CheckOut <i class="fa fa-lock" aria-hidden="true"></i>
                    </button>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}