{% extends 'basic.html' %}

{% load static %}

{% block body %}
	<!-- banner -->
	<div class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li>
				<div class="slider-info banner-w3-1">
					<div class="w3l-overlay">
						<div class="banner-text text-center container">
							<h3 class="text-white mb-4 text-uppercase">Professional
								<span>MEHENDI ARTIST</span>
							</h3>
							<p class="movetxt text-white text-uppercase">An
								<span> artist </span> is a person engaged in an activity related to creating
								<span> art </span> , practicing the arts, or demonstrating an 
								<span> art. </span>
							</p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-info banner-w3-2">
					<div class="w3l-overlay">
						<div class="banner-text text-center container">
							<h3 class="text-white mb-4 text-uppercase">Professional
								<span> Choreaographer</span>
							</h3>
							<p class="movetxt text-white text-uppercase">An
								<span> artist </span> is a person engaged in an activity related to creating
								<span> art </span> , practicing the arts, or demonstrating an 
								<span> art. </span>
							</p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-info banner-w3-3">
					<div class="w3l-overlay">
						<div class="banner-text text-center container">
							<h3 class="text-white mb-4 text-uppercase">Professional
								<span>RANGOLI ARTIST</span>
							</h3>
							<p class="movetxt text-white text-uppercase">An
								<span> artist </span> is a person engaged in an activity related to creating
								<span> art </span> , practicing the arts, or demonstrating an 
								<span> art. </span>
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- //banner -->

	<!-- banner bottom -->
	<div class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 agileits_works-grid">
					<h3 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Welcome to <br> 
						<span>our Services</span>
					</h3>
				</div>
				<div class="col-lg-7 agileits_works-grid1 mt-lg-0 mt-4">
					<p>We have seen people who are having good talent are not getting recognition or work.Right now corporate and society both require different artists like Rangoli artists, Mahendi artists, Painter, Choreographer etc.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner bottom -->

	<!-- progress -->
	<div class="progress-w3ls py-5 text-center">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="progress blue">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">90%</div>

					</div>
					<p class="text-white progress-texts mt-3">Satisfied Customers</p>
				</div>
				<div class="col-md-3 col-sm-6 mt-sm-0 mt-4">
					<div class="progress yellow">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">75%</div>

					</div>
					<p class="text-white progress-texts mt-3">Order completed</p>
				</div>
				<div class="col-md-3 col-sm-6 mt-md-0 mt-4">
					<div class="progress green">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">75%</div>

					</div>
					<p class="text-white progress-texts mt-3">Specialist Artist</p>
				</div>
				<div class="col-md-3 col-sm-6 mt-md-0 mt-4">
					<div class="progress pink">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">75%</div>
					</div>
					<p class="text-white progress-texts mt-3">Customer Review</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //progress -->

	<!-- middle section -->
	<section class="middle-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 agileits_works-grid">
					<h2 class="tittle mb-xl-5 mb-4 text-white text-uppercase font-weight-bold pl-4 py-3">About Us</h2>
				</div>
		
			</div>
			<div class="row">
				<div class="col-lg-6">
					<h4 class="text-white text-uppercase font-weight-bold">Our Services</h4>
					<p class="my-5 white-forming">This project is about getting the nearest artist
					available and their services. It happens we may require artists for the various events like wedding, school function, birthday organizers etc on an urgent basis.We provide all services in reasonable rate.</p>
					<a href="about.html" class="btn btn-sm animated-button victoria-two">Read More</a>
				</div>
				<div class="col-lg-6 mt-sm-0 mt-3">
					<img src="{% static 'images/i1.JPEG' %}" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</section>
	<!-- //middle section -->

	<!-- services -->
	
	<!-- //services -->

	<!-- mobile section -->
	<div class="feature py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-xl-3 col-lg-4">
					<div class="phone text-lg-left text-center">
						<img alt="" src="{% static 'images/iphone.png' %}" class="img-fluid phone-img-w3ls">
						<div class="iphone5-screen">
							<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="carousel-item item-1 active">
									</div>
									<div class="carousel-item item-2">
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-7 offset-xl-1 mt-4">
					<h3 class="text-white font-weight-bold text-mobile-w3">Get Satisfied with the services we provide A to Z services
		  </h3>
					<p class="white-forming my-4"></p>
					<ul class="list-unstyled text-white">
						<li class="list-agiles">
							<i class="fas fa-check mr-2"></i>Decoration</li>
						<li class="list-agiles my-3">
							<i class="fas fa-check mr-2"></i>Mehendi</li>
						<li class="list-agiles my-3">
							<i class="fas fa-check mr-2"></i>Rangoli</li>
						<li class="list-agiles my-3">
							<i class="fas fa-check mr-2"></i>Choreaographer</li>
						<li class="list-agiles my-3">
							<i class="fas fa-check mr-2"></i>Hair-stylist</li>
						<li class="list-agiles my-3">
							<i class="fas fa-check mr-2"></i>Make-up artist</li>
						<li class="list-agiles my-3">
							<i class="fas fa-check mr-2"></i>Painter</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //mobile section -->

	<!-- posts -->
	<section class="news-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 agileits_works-grid">
					<h3 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">OUR SERVICES</h3>
				</div>
				<div class="col-lg-7 para-right-title">
					<p class="py-3"> 
					</p>
				</div>
			</div>
			<div class="row package-grids mt-5">
				{% for i in service %}
				<div class="col-md-6 posts-w3ls my-3">
					<div class="price-top">
						<a href="single.html">
							<img src="{{ i.s_image.url }}" alt="" class="img-fluid w-100" style="height: 50vh;" />
						</a>
					</div>
					<div class="post-w3ls-bottom p-4 text-center">
						<h4 class="text-dark mb-3 mt-4">{{i.service}}</h4>

						<p class="mt-4">{{ i.description }}</p>
							<br>
							<a href="/subservice/{{i.service}}/" class="btn btn-primary" style="color: white;">View Services</a>
					</div>
				</div>
				{% endfor %}
			
			</div>
		</div>
	</section>
	<!-- //posts -->

{% endblock %}