

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Nearby services and artist finder</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Cleaning Services Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	    rel="stylesheet">
	<!-- //Web-Fonts -->

</head>

<body>
	<!-- header -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-light py-0">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/logo3.png" alt="" class="img-fluid">
				</a>
				<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home
								
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About Us</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="services.html">Services</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="single.html">Cleaner's Blog</a>
								<a class="dropdown-item" href="about.html">Team</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="gallery.html">Gallery</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="offers.html">Our Offers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- //header -->

	<!-- banner 2 -->
	<div class="banner2-w3ls">

	</div>
	<!-- //banner 2 -->
	<!-- page details -->
	<div class="breadcrumb-agile">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Offers</li>
			</ol>
		</nav>
	</div>
	<!-- //page details -->

	<!-- offers -->
	<div class="offers-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Our Best Offers</h2>
			<div class="row">
				<div class="col-lg-6 offers-agiles-left">
					<img src="images/offer1.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
					<h4 class="mb-4 title-2-agiles">Makeup
						<span>2000/-</span>
					</h4>
					
					<p class="mt-4">Here we provide the best makeup. Makeup makes you more Confident. The most important reasons to wear makeup is that it makes you feel more confident. You will find that makeup can help you feel more confident, i.e Girls with makeup will be more confident, and ready to take on the day.We do it at reasonable rate and customer is satisfied with our work.If there are more than 2 persons then then discount will be given upto 25%.</p>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-lg-6 offers-agiles-right mt-xl-4 mb-lg-0 mb-4">
					<h4 class="mb-4 title-2-agiles">Mehendi
						<span>300/-</span>
					</h4>
					
					<p class="mt-4">We have the best mehendi specialist.They do work quickly and nicely.Mehndi is a form of body art and temporary skin decoration common in the Indian Subcontinent, in which decorative designs are created on a person's body, using a paste, created from the powdered dry leaves of the henna plantWe provide every types of mehendi designs like arabic,bridal etc.If there are more than 5 peoples then discount will be given 10-12%</p>
				</div>
				<div class="col-lg-6 offers-agiles-left">
					<img src="images/offer2.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 offers-agiles-left">
					<img src="images/offer3.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
					<h4 class="mb-4 title-2-agiles">Rangoli
						<span>500/-</span>
					</h4>
					 
					<p class="mt-4">We have the professional Rangoli designer.Rangoli is an art in which patterns are created on the floor or the ground using materials such as colored rice, dry flour, colored sand or flower petals. ... The objective of rangoli is to decorate our surroundings and it is considered to bring good luckThey do work quickly and nicely.We provide every types of Rangoli designs like for festival or any occasion.If there are more than 3 design at the same location then discount will be given 5-10%</p>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-lg-6 offers-agiles-right mt-xl-4 mb-lg-0 mb-4">
					<h4 class="mb-4 title-2-agiles">Painting
						<span>700/-</span>
					</h4>
					<p class="mt-4">Generally we see many peoples are fond of painting even of antic "old age" paintings.Painting is using colours to make visual art. It is also the word for a painted work of art. Many kinds of paints are used to create art. They include watercolors, acrylics and oils.Our artist can make painting in a new way showing their amazing creativity.We have ready-made paintings and can also create according to consumers wish.Discount will be given 12-15% if more then 2 paintings </p>
				</div>
				<div class="col-lg-6 offers-agiles-left">
					<img src="images/offer4.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 offers-agiles-left">
					<img src="images/offer5.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
					<h4 class="mb-4 title-2-agiles">Choreography
						<span>2500/-</span>
					</h4>
					
					<p class="mt-4"><b>Dance</b>   a amazing form of art.The dance may be an informal play, a part of a ritual, or a part of a professional performance. There are many kinds of dances, and every human society has its own dances. As with other performing arts, some people dance to express their feelings and emotions, or to feel better.We have the best choregraphers who can teach various and amazing form of dance.We provide discount if there will be group of more then 5 peoples till 20-25%.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //offers -->

	<!-- footer -->
	<footer class="py-4">
		<div class="container py-xl-5 py-lg-3">
			
			<div class="row">
				<div class="col-md-8 copy">
					<p class="mt-md-5 pt-md-4">Nearby services and artist finder | Developed by
						<a href=""> </a>
					</p>
				</div>
				<div class="col-md-4 logo-2 text-md-right text-center">
					<a class="logo-footer" href="index.html">
						<img src="images/logo3.png" alt="" class="img-fluid">
					</a>
				</div>
			</div>
		</div>
	</footer>-->


	<!-- Js files -->
	<!-- JavaScript -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->

	<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- move-top -->
	<script src="js/move-top.js"></script>
	<!-- easing -->
	<script src="js/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="js/cleaning.js"></script>

	<script src="js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- //Js files -->

</body>

</html>